img{
  width: 250px;
  height: 250px;
  align-items: center;
}
div{
  display: flex;
  
}
button{
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background: #ad0dfdd0;
  color: white;
  font-weight: bolder;
  margin-top: 200px;
}